* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: gray;
    /* align-content: center; */
    text-align: center;
    line-height: 70px;
    white-space: nowrap;
  }
#statusContainer {
    margin-top: 10%;
}

.status, .timeStatus, #breakContainer, #pomodoroContainer, #lbContainer {
    height: 45px; /* the height of each item */
    width: 25%;
    min-width: 200px; /*  minimum width of a given box */
    max-width: 250px;
    border: medium solid black; /* creates border for boxes */
    /* margin: 0 auto; spaces margin between items within flex box */
    text-align: center; /* centers text in Pomodoro buttons */
    /* line-height: 35px; */
    white-space: nowrap;
    /* border-color: green; */
}
#timingContainer, #breakContainer, #pomodoroContainer, #lbContainer {
    height: 63px;
}

.status {
    background-color: hsl(176, 100%, 50%);
}
.status:hover {
    background-color: hsl(176, 100%, 40%);
}

button.active {
    background-color: hsl(176, 40%, 50%);
}
button.active:hover {
    background-color: hsl(176, 40%, 40%);
}

#timerContainer {
    height: 200px;
    position: relative;
    
}
#timer {

    font-size: 5em; 
    font-family: sans-serif; 
}


#start {
    background-color: green;
}
#start:hover {
    background-color: darkgreen;
}

#stop {
    background-color: red;
}
#stop:hover {
    background-color: darkred;
}
#reset {
    background-color: rgb(173, 173, 173);
}
#reset:hover {
    background-color: rgb(100, 100, 100);
}

#statusContainer, #buttonContainer, #timerContainer, #timingContainer {
    display: flex; /* the organizatiion method for each item in tthe status container */
    justify-content: center;
    align-items: center;
    
    /* width: 100%; */
}
#pomodoroContainer, #breakContainer, #lbContainer {
    display: flex; /* the organizatiion method for each item in tthe status container */
    justify-content: center;
    align-items: center;
    
    /* width: 100%; */
}
button {
    color: white;
    display: inline-block;
    /* border: medium solid black; */
    border-radius: 10px;
    margin: 0px;
    padding: 10px;
    font-family: sans-serif; 
    font-size: 1rem;
    line-height: 1;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    transition: 0.10s;
}
#timingContainer {
    /* background-color: gray; */
}
.time {
    padding: 10px;
    font-family: sans-serif; 
    font-size: 1rem;
    /* height: 100%; */
    width: 5%;
    min-width: 80px;
    max-width: 240px;
    text-align: center;
    border: medium solid black; /* creates border for boxes */
    
}
.arrow {
    padding: 2px;
    font-weight: 400;
    font-family: sans-serif; 
    font-size: 2rem;
    width: 15%;
    text-align: center;
    border: medium solid black; /* creates border for boxes */
}
.chevronDown {
    font: normal normal normal 14px/1 FontAwesome;
    content: "&#709;";
    /* background-color: darkblue; */

}

button:focus {
    outline-style: none;
    box-shadow: 0px 0px 0px 1px darkgray;
}
